body {
    background-color: #2f2e2e;
}

h1 {
    color: #02027e;
}

h2 {
    color: #02027e;
    margin-bottom: 1px;
}

h3 {
    color: #8585d0;
    margin-top: 5px;
    margin-bottom: 5px;
}

hr {
    height: 2px;
    border-width: 0;
    color: #2f2e2e;
    background-color: #2f2e2e;
    margin-top: 1px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 1px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: ghostwhite;
}

.bold {
    font-weight: bold;
}

.darkgrey {
    color: #2f2e2e;
}

.italic {
    font-style: italic;
}

.right {
    text-align: right;
}

.avatar {
    border: 1px solid #2f2e2e;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    width: 125px;
}